* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 100%;
    height: 989px;
}

.nav-left {
    position: absolute;
    width: 102px;
    background-color: #1D2531;
    height: 989px;
}

.nav-header {
    position: fixed;
    width: 102px;
}

.nav-header a {
    display: block;
    position: relative;
    width: 62px;
    height: 63px;
    background-color: #1C94ED;
    border-radius: 50%;
    margin: 0 auto;
    top: 18px;
    margin-bottom: 18px;
}

.nav-header a:nth-child(2) {
    background-color: #896CE5;
}

.nav-header a:nth-child(3) {
    background-color: #E9482C;
}

.nav-header a:nth-child(4) {
    border: 5px solid #2D3848;
    background-color: #1D2531;
}

.nav-header a::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 24px;
    background-image: url(../img/icon1.png);
    background-position: 0 0;
}

.nav-header a:nth-child(2)::after {
    width: 25px;
    height: 35px;
    background-position: -30px 0;
}

.nav-header a:nth-child(3)::after {
    width: 33px;
    height: 24px;
    background-position: -60px 0;
}

.nav-header a:nth-child(4)::after {
    width: 20px;
    height: 20px;
    background-position: -100px 0;
}

.nav-footer {
    position: fixed;
    width: 102px;
    margin: 0 auto;
    text-align: center;
    bottom: 40px;
}

.nav-footer a {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon2.png);
    background-position: 0 0;
}

.nav-footer .icon2 {
    background-position: -20px 0;
    margin-left: 10px;
}

.nav-middle {
    position: absolute;
    width: 254px;
    height: 989px;
    background-color: #222C3C;
    margin-left: 102px;
}

.nav-middle .menu,
.nav-middle .dashboard {
    color: #4C5769;
    font-weight: bold;
}

.menu p,
.dashboard p {
    position: relative;
    top: 30px;
    left: 16px;
}

.menu p::after,
.dashboard p::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon2.png);
    background-position: -20px 0;
    right: 55px;
    top: 5px;
}

.menu-list,
.dashboard-list {
    position: absolute;
    width: 100%;
    top: 80px;
}

.menu-list li a,
.dashboard-list li a {
    line-height: 40px;
    margin-left: 20px;
    color: #7B8593;
}

.menu-list .mark span,
.dashboard-list .mark span {
    position: absolute;
    color: #ffffff;
    right: 35px;
    z-index: 2;
    width: 30px;
    height: 30px;
    background-color: #2197F0;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.menu-list .line::after,
.products-list .line::after,
.dashboard-list .line::after {
    content: '';
    position: absolute;
    width: 194px;
    margin-left: -105px;
    margin-top: 60px;
    border: 1px solid #4C5769;
}

.nav-middle .products {
    color: #4C5769;
    font-weight: bold;
}

.products p {
    position: relative;
    top: 300px;
    left: 16px;
}

.products p::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon2.png);
    background-position: -20px 0;
    right: 55px;
    top: 5px;
}

.products-list {
    position: absolute;
    width: 100%;
    top: 360px;
}

.products-list li a {
    line-height: 40px;
    margin-left: 50px;
    color: #7B8593;
}

.products-list li a::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 16px;
    background-image: url(../img/icon3.png);
    background-position: 0 0;
    margin-top: 10px;
    margin-left: -30px;
}

.products-list .icon2 a::before {
    width: 18px;
    height: 12px;
    background-position: -30px 0;
}

.products-list .icon3 a::before {
    width: 18px;
    background-position: 0 -30px;
}

.products-list .icon4 a::before {
    width: 16px;
    background-position: -30px -30px;
}

.products-list li:last-child::after {
    margin-left: -130px;
}

.dashboard p {
    top: 530px;
}

.dashboard-list {
    top: 620px;
}

.dashboard-list .mark span {
    margin-top: 5px;
}

.dashboard-list .mark-danger span {
    background-color: red;
}

.goals {
    position: absolute;
    width: 254px;
    bottom: 5rem;
    color: #7B8593;
    font-weight: bold;
    font-size: 14px;
}

.goals span {
    margin-left: 15px;
}

.goals .line::before,
.goals .line::after {
    content: '';
    position: absolute;
    width: 194px;
    margin-left: -120px;
    margin-top: 40px;
    border: 1px solid #4C5769;
}

.goals .line::after {
    width: 42px;
    border: 1px solid #886BE5;
    margin-left: -80%;
}

.main-content {
    width: 1490px;
    margin-left: 356px;
    background-color: #ffffff;
    height: 989px;
    color: #000000;
}

.main-content .messages {
    position: relative;
    width: 100%;
}

.messages span {
    position: relative;
    width: 100%;
    top: 20px;
    left: 20px;
    font-size: 24px
}

.main-content .messages {
    height: 80px;
    border-bottom: 2px solid#E6E9EC;
}

.main-content .person {
    position: fixed;
    height: 58px;
    right: 40px;
    top: 10px;
}

.person .p-box {
    float: right;
    color: #2399F1;
    font-weight: bold;
}

.person p {
    margin: 5px 0 0 10px;
}

.person .p2 {
    color: #d3d3d3;
    font-weight: normal;
}

.person .p2::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url(../img/icon2.png);
    background-position: 0 -20px;
    right: -20px;
    top: 25px;
}

.content-left {
    width: 402px;
    height: 907px;
    float: left;
}

.content-left input {
    width: 350px;
    border: 1px solid#E6E9EC;
    border-top: none;
    font-size: 18px;
    padding: 20px 0 20px 50px;
}

.content-left ul li {
    position: relative;
    height: 118px;
    border: 1px solid#E6E9EC;
}

.content-left a {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon2.png);
    background-position: -50px 0;
    margin: -35px 0 0 340px;
    cursor: pointer;
}

.person-list img {
    float: left;
    margin: 5px 0 0 10px;
}

.content-left .person-list .p-box {
    float: left;
    color: #585D68;
    font-weight: bold;
    margin: 15px 0 0 10px;
}

.person-list .mark-p {
    color: #2399F1;
}

.person-list .p2 {
    color: #d3d3d3;
    font-weight: normal;
}

.person-list span {
    float: right;
    margin: 25px 20px 0 0;
    color: #8896AA;
}

.clear {
    overflow: hidden;
}

.person-list>p {
    font-size: 14px;
    margin: 5px 0 0 10px;
    color: #636872;
}

.clear .mark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2298F1;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    margin-top: 90px;
    right: 2px;
    position: absolute;
}

.person-list .left {
    width: 348px;
}

.content-right {
    height: 907px;
}

.content-right .menu {
    height: 61px;
    border: 1px solid#E6E9EC;
}

.content-right .menu span {
    color: #565D68;
    line-height: 61px;
    margin-left: 20px;
    font-weight: bold;
    float: left;
}

.content-right .menu .icon {
    float: left;
    padding-left: 650px;
    height: 50px;
}

.menu .icon a {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon2.png);
    background-position: -20px -20px;
    margin: 25px 15px 0 0;
}

.menu .name::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #96DFA2;
    margin: 30px 0 0 15px;
}

.menu .icon .line::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-image: url(../img/icon2.png);
    background-position: -80px -15px;
    left: 10px;
    top: -5px;
    margin: 0 15px;
}

.menu .icon .icon2 {
    background-position: -40px -20px;
}

.menu .icon .icon3 {
    background-position: -60px -20px;
}

.content-right .menu .date {
    color: #56688A;
}

.menu .icon .icon4,
.menu .icon .icon5 {
    width: 6px;
    height: 10px;
    background-position: 0 -40px;
}

.menu .icon .icon5 {
    background-position: -20px -40px;
}

.content-right .menu .icon-tab {
    padding-left: 0px;
    float: left;
    margin-left: 20px;
}

.menu .icon-tab .line::after {
    margin-left: 5px;
}

.person-list .clear .p-box .p1,
.person-list .clear .p-box .p3 {
    color: #585D68;
    display: inline-block;
}

.person-list .clear .p-box .p3 {
    font-weight: lighter;
    margin-left: 10px;
}
.content-right .person-list .clear .p-box{
    color: #585D68;
    font-weight: bold;
    margin: 15px 0 0 10px;
}
.p4{
    color:#b1b389;
}
.comment .weekday{
    text-align: center;
    margin-top:10px; 
    color:#7bc2f7;
}
.comment .weekday::before,
.comment .weekday::after{
    content: '';
    position: absolute;
    width: 480px;
    height: 2px;
    background-color:#7bc2f7;
    left: 760px;
    margin-top:10px;
}
.comment .weekday::after{
    left: auto;
    right: 0;
}
.p5{
  text-align: center;
  margin-top:40px;
  color: #585D68;
}
.p5::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url(../img/icon2.png);
    background-position: -75px 0;
    left: 820px;
    margin-top:5px;
}
.img-box{
    height: 100px;
    display: block;
    margin: 10px 0 20px 450px;
}